@{
    ViewData["Title"] = "Home Page";

}
@*@{
    ViewData["Title"] = "Home Page ";
    ViewData["Tab"] = "<ul class='breadcrumb'>"
                 + "<li class='breadcrumb-item'>"
                 + "<a href='../../Home/Index' data-toggle='tooltip' data-placement='top' title='Home'><i class='feather icon-home'></i></a>"
                 + "</li>"
                 + "<li class='breadcrumb-item'>"
                 + "<a href='/Accident/Index' data-toggle='tooltip' data-placement='top' title='ตั้ังค่า'>Register Accident</a>"
                 + "</li>"
                 + "<li class='breadcrumb-item'>"
                  + "<b><a data-toggle='tooltip' data-placement='top' title=''>" + @ViewData["Title"] + "</a></b>"
                  + "</li>"
                  + "</ul>";
}*@

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


